.ChamamentoCadastrarNovosArtistas-container {
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ChamamentoCadastrarNovosArtistas-popup {
    width: 1197px;
    height: 503px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #000;
}

.ChamamentoCadastrarNovosArtistas-popup-item {
    width: 1022px;
    height: 387px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.ChamamentoCadastrarNovosArtistas-close-button {
    position: absolute;
    top: -40px;
    right: -50px;
    
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.ChamamentoCadastrarNovosArtistas-popup-item img {
    width: 463px;
    height: 387px;
}

.ChamamentoCadastrarNovosArtistas-popup-item-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-align: center;
    color: #fff;
}

.ChamamentoCadastrarNovosArtistas-popup-item-texto h1 {
    font-size: 24px;
    font-weight: 500;
}

.ChamamentoCadastrarNovosArtistas-popup-item-texto h3 {
    font-size: 16px;
    font-weight: 300;

    width: 476px;
}

@media (min-width: 0px) and (max-width: 1200px) {
    .ChamamentoCadastrarNovosArtistas-popup {
        width: 95vw;
        height: 470px;
    }

    .ChamamentoCadastrarNovosArtistas-popup-item {
        width: 86vw;
    }

    .ChamamentoCadastrarNovosArtistas-popup-item-texto h3 {
        width: 42vw;
    }

    .ChamamentoCadastrarNovosArtistas-popup-item img {
        width: 40vw;
        height: auto;
    }

    .ChamamentoCadastrarNovosArtistas-close-button {
        position: absolute;
        top: -30px;
        right: -30px;
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    .ChamamentoCadastrarNovosArtistas-popup {
        height: 410px;
    }

    .ChamamentoCadastrarNovosArtistas-close-button {
        position: absolute;
        top: 3px;
        right: -20px;
    }
}

@media (min-width: 0px) and (max-width: 850px) {
    .ChamamentoCadastrarNovosArtistas-popup {
        height: 700px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ChamamentoCadastrarNovosArtistas-popup-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
    }

    .ChamamentoCadastrarNovosArtistas-popup-item img {
        width: 60vw;
        height: auto;
    }

    .ChamamentoCadastrarNovosArtistas-close-button {
        position: absolute;
        top: -130px;
        right: 0px;
    }
}