@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



.TelaLogin-banner-principal {
    margin-bottom: -4.5px;

    width: 100vw;

    img {
        width: 100%;
        height: auto;
    }
}

.TelaLogin-login {
    display: flex;
    flex-direction: row;

    .TelaLogin-login-imagem {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 50vw;
        background-color: black;
    }

    .TelaLogin-login-inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 50vw;
        background-color: rgb(255, 255, 255);
    }

    .TelaLogin-login-inputs-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1 {
            font-size: 14px;
            font-weight: 500;
        }

        .TelaLogin-login-inputs-texto-login-container{
            display: flex;
            flex-direction: column;
            gap: 20px;

            margin-bottom: 5px;
            
            .TelaLogin-login-inputs-texto-login{
                display: flex;
                flex-direction: column;
                gap: 5px;

                input {
                    border-radius: 30px;
                    color: #B4B4B4;
                    border: 2px solid #B4B4B4;

                    text-align: left;
                    padding-left: 15px;
                    padding-top: 3px;

                    width: 420px;
                    height: 40px;
                }
            }
        }

        .TelaLogin-login-inputs-texto-lembrar-checkbox{
            display: flex;
            flex-direction: row;

            margin: 2px 0px 10px 0px;

            input {
                margin: 0px 5px 0px 10px;
            }
        }

        button {
            width: 102px;
            height: 41px;
            margin-top: 5px;

            background-color: black;
            border-radius: 30px;

            color: azure;

            transition: width 0.3s ease, background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
            
        }

        button:hover {
            cursor: pointer;

            width: 112px;
            height: 41px;

            background-color: rgb(255, 211, 65);
            border-radius: 30px;

            color: rgb(0, 0, 0);

            font-weight: 700;
        }

        a {
            margin-top: 3px;
            font-weight: 500;

            transition: font-weight 0.5s ease;
        }

        a:hover {
            cursor: pointer;
            font-weight: 700;
        }
    }
}

@media (min-width: 0px) and (max-width: 1000px) {
    .TelaLogin-login {
        display: flex;
        flex-direction: row;
    
        .TelaLogin-login-imagem {
            img {
                width: 100%;
                height: auto;
            }
        }

        .TelaLogin-login-inputs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            width: 50vw;
            background-color: rgb(255, 255, 255);
        }
    
        .TelaLogin-login-inputs-texto {
            .TelaLogin-login-inputs-texto-login-container {
                .TelaLogin-login-inputs-texto-login {
                    input {
                        width: 44vw;
                    }
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 660px) {
    .TelaLogin-login {
        display: flex;
        flex-direction: column;
    
        .TelaLogin-login-imagem {
            width: 100vw;
            height: 330px;

            img {
                width: 400px;
                height: 400px;
            }
        }
    
        .TelaLogin-login-inputs{
            margin: 30px 0px;
    
            width: 100vw;
        }
    
        .TelaLogin-login-inputs-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            .TelaLogin-login-inputs-texto-login-container{
                .TelaLogin-login-inputs-texto-login{
                    input {
                        width: 65vw;
                    }
                }
            }
    
            .TelaLogin-login-inputs-texto-lembrar-checkbox{
                display: flex;
                flex-direction: row;
    
                margin: 2px 0px 10px 0px;

                gap: 3px;
    
                input {
                    margin: 0px;
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 450px) {
    .TelaLogin-login {
        width: 100vw;

        .TelaLogin-login-imagem {
            width: 100vw;
            /* height: 27vh; */
            height: auto;
            
            img {
                width: 90vw;
                height: 90vw;
            }
        }
    }
}